<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CitrusPhoneName" value="/html/body/div[1]/div[2]/div/main/div[2]/h1" />
    <add key="CitrusInStock" value="/html/body/div[1]/div[2]/div/main/div[2]/div[2]/section/div/div[1]/div[1]/div[1]/p[2]/span" />
    <add key="CitrusMainCamera" value="//span[contains(.,'Основная камера, Мп')]" />
    <add key="CitrusFrontalCamera" value="//span[contains(.,'Фронтальная камера, Мп')]"/>
    <add key="CitrusBodyMaterial" value="//span[contains(.,'Материал корпуса')]" />
    <add key="CitrusSize" value="//span[contains(.,'Габариты (ВхШхГ)')]" />
    <add key="CitrusWeight" value="//span[contains(.,'Вес')]"/>
    <add key="CitrusUrl" value="https://www.citrus.ua/smartfony/page_{0}/" />
    <add key="CitrusScreenDiag" value="//span[contains(.,'Размер экрана')]" />
    <add key="CitrusScreenResolution" value="//span[contains(.,'Разрешение экрана PX')]" />
    <add key="CitrusProcessorName" value="//span[contains(.,'Процессор')]" />
    <add key="CitrusProcessorCores" value="//span[contains(.,'Количество ядер')]" />
    <add key="CitrusProcessorSpeed" value="//span[contains(.,'Частота процессора')]" />
    <add key="CitrusVideoProcName" value="//span[contains(.,'Видеопроцессор')]" />
    <add key="CitrusRAM" value="//span[contains(.,'Объем оперативной памяти')]" />
    <add key="CitrusInternalMem" value="//span[contains(.,'Объем встроенной памяти')]" />
    <add key="CitrusIsMemExpanded" value="//span[contains(.,'Слот для карты памяти')]" />
    <add key="CitrusMaxInternalMem" value="//span[contains(.,'Максимальный объем карты памяти')]" />
    <add key="CitrusOS" value="//span[contains(.,'Операционная система')]" />
    <add key="CitrusAccessTypes" value="//span[contains(.,'Тип связи')]" />
    <add key="CitrusSIMQuantity" value="//span[contains(.,'Количество SIM-карт')]" />
    <add key="CitrusNavAbility" value="//span[contains(.,'Навигационные возможности')]" />
    <add key="CitrusBatteryCapacity" value="//span[contains(.,'Емкость аккумулятора')]" />
    <add key="CitrusStandaloneSpecs" value="//span[contains(.,'Автономная работа')]" />
    <add key="CitrusWirelessCharge" value="//span[contains(.,'Функция беспроводной зарядки')]" />
    <add key="CitrusFastCharge" value="//span[contains(.,'Функция быстрой зарядки')]" />
    <add key="CitrusBodyMaterial" value="//span[contains(.,'Материал корпуса')]" />
    <add key="CitrusWaterProtection" value="//span[contains(.,'Водозащита')]" />
    <add key="CitrusDetailLink" value="//a[@class='card-product-link']"/>
    <add key="CitrusNoResultsId" value="//div[@class='nothing']"/>

    <add key="CitrusFindWithRawXPath" value="PhoneName,InStock"/>
    <add key="ExcludeFields" value="Id,ShopName"/>
  </appSettings>
      <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
<connectionStrings><add name="PhoneModel" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=PhonesData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>
